<h2>Binding de propiedad</h2>
<div>
  <h4>Binding de evento</h4>
  <label>Seleccione una imagen</label>
  <select id="selectImagen" (change)="imagenURL= $event.target.value">
    <option value="https://www-asp.azureedge.net/v-2018-11-02-001/images/ui/asplogo-square.png">
      ASP.NET
    </option>
    <option value="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg">
      Angular
    </option>
  </select>
  <br/>
  <img [src]="imagenURL" />
</div>
